@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Headings */
h1 {
  font-size: 36px;
}

/* For Sub-Headings */
h2 {
  font-size: 30px;
}

/* For - */
h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}